/* Update class utama ini */
.my-pet-walker {
    position: fixed;
    bottom: 0px;
    z-index: 2147483647;
    width: 128px;
    height: auto;
    
    /* UBAH INI: Dari none jadi auto agar bisa diklik */
    pointer-events: auto; 
    cursor: pointer;      /* Ubah kursor jadi jari telunjuk saat hover */
    user-select: none;
    
    /* Transisi halus untuk transformasi (flip & lompat) */
    transition: transform 0.1s ease-out, bottom 0.3s ease-in-out; /* Untuk efek lompat */
}

/* Tambahkan class baru untuk efek lompat */
.pet-jump {
    bottom: 30px !important; /* Meloncat naik 30px */
}

/* Class khusus untuk menyembunyikan pet */
.hide-my-pet .my-pet-walker {
    display: none !important;
}

.my-pet-walker.dragging {
    transition: none !important;
    cursor: grabbing !important; /* Tangan menggenggam */
}